<IfModule mod_headers.c>
  <FilesMatch "^(index\.html|manifest\.webmanifest|service-worker\.js)$">
    Header set Cache-Control "no-cache"
  </FilesMatch>

  <FilesMatch "\.(ico|png|svg)$">
    Header set Cache-Control "public, max-age=31536000"
  </FilesMatch>
</IfModule>
